<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= employees_path %>">Desconto INSS</a>
		<div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="nav navbar-nav">
				<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.try(:full_name) %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li>
							<%= link_to 'Editar Usuário', edit_user_registration_path, class: "dropdown-item" %>
						</li>
						<li>
							<%= button_to 'Sair', destroy_user_session_path, class: "dropdown-item", method: :delete%>
						</li>
          </ul>
        </li>
			</ul>
		</div>
	</div>
</nav>
